{# templates/blog/show.html.twig #}

{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="wrapper-resize">
            <article class="grid grid-gap-20">
                <h1>{{ article.title }}</h1>
                <p>
                    <img src="{{ asset('uploads/' ~ article.thumb) }}" class="responsive-img">
                </p>
                <span>{{ article.publishedAt|date('d/m/Y') }}</span>
                <p>
                    {{ article.content }}
                </p>
                <a href="{{ app.request.headers.get('referer') }}" class="btn">Retour</a>

                {% for category in article.categories %}
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="category" style="background-color: {{ category.color }}">
                                <p class="category-label">{{ category.label }}</p>
                    </a>
                {% endfor %}
            </article>
        </div>
    </section>
{% endblock %}