<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<div>
					<div>
						<a href="{{ path('app_home') }}">Symfony Blog</a>
						<ul>
							<li><a href="{{ path('app_home') }}">Home</a></li>
							<li><a href="{{ path('app_blog') }}">Blog</a></li>
							{% if app.user %}
								<li><a href="/logout">Logout</a></li>
							{% else %}
								<li><a href="/login">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</nav>
		</header>

		{% block content %}{% endblock %}
		{% block javascripts %}{% endblock %}

		{% block scripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
